<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="modal_template">
<head>
</head>
<body>
	<div class="main">
		<div class="main-inner">
	    	<div class="tab-content">
				<div class="tab-pane" id="formcontrols">
					<form id="edit-profile" class="form-horizontal">
						<fieldset>
										
							<div class="control-group">											
								<label class="control-label" for="username">Tipo movimentação</label>
								<div class="controls">
									<input type="text" class="span6" id="username" value="Example" disabled>
									<p class="help-block">teste</p>
								</div> <!-- /controls -->				
							</div> <!-- /control-group -->
							<div class="control-group">											
								<label class="control-label" for="username">Categoria da movimentação</label>
								<div class="controls">
									<input type="text" class="span6" id="username" value="Example" disabled>
									<p class="help-block">teste</p>
								</div> <!-- /controls -->				
							</div> <!-- /control-group -->
							<div class="control-group">											
								<label class="control-label" for="username">Valor</label>
								<div class="controls">
									<input type="text" class="span6" id="username" value="Example" disabled>
									<p class="help-block">teste</p>
								</div> <!-- /controls -->				
							</div> <!-- /control-group -->
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
		
	
</body>
</html>