/.metadata
/.recommenders
/RemoteSystemsTempFiles
/Servers
/bootstrap-responsive-admin-template.zip
/crudificador/.settings
/crudificador/target
/crudificador/.classpath
/crudificador/.project
/.classpath
/.settings
/.project
